torch==1.9.1
torchvision==0.10.1
torchaudio==0.9.1
numpy>=1.19.5
opencv-python>=4.5.3.56
scipy>=1.7.1
scikit-image>=0.18.3
scikit-learn>=0.24.2
tqdm>=4.62.3
pyyaml>=5.4.1
face-alignment>=1.3.3
gfpgan>=1.3.4
basicsr>=1.4.2
facexlib>=0.2.5
dlib>=19.22.0
mediapipe>=0.8.9.1
gdown>=4.4.0
einops>=0.4.1
resampy>=0.4.2
librosa>=0.8.1
av>=9.2.0
pytorch3d>=0.6.0
kornia>=0.6.0
matplotlib>=3.4.3
pandas>=1.3.3
tensorboard>=2.7.0
moviepy>=1.0.3
imageio>=2.9.0
imageio-ffmpeg>=0.4.5
pyrender>=0.1.45
trimesh>=3.9.35
pyglet>=1.5.21
pywavefront>=1.3.3

